/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: var(--background-photo);
  color: var(--font-color);
  font-family: var(--font-family);
}

/* Стили для кнопок заголовка */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: 21px 15px 20px 20px;
  min-block-size: var(--block-size);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  content: '';
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  position: absolute;
  content: '';
  border-top: 1px solid var(--decorate-rectangle,#353430);
  border-right: 1px solid var(--decorate-rectangle,#353430);
  top: 21px;
  right: 16px;
}

.decorated-zone::after {
  position: relative;
  content: '';
  border-bottom: 1px solid var(--decorate-rectangle,#353430);
  border-left: 1px solid var(--decorate-rectangle,#353430);
  top: 97px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;  
  justify-content: center;
  gap: 12px;
}

.header__theme-menu-button {
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  border: none;
  font-weight: 400;
  line-height: 1;
  font-style: normal;
  background-color: transparent;
  text-align: center;
  padding-inline: 12px;
  padding-block: 3px;
  text-transform: lowercase;
  appearance: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: var(--border-style);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: var(--border-style);
  outline: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  border: var(--border-style__hover);
  cursor: pointer;
}

/* Стили для декоративных элементов */

/* REC */

.header__decoration-rec {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 25px;
  font-size: 18px;
  list-style: none;
  text-align: center;
  font-style: normal;
}

/* Декоративный элемент REC */

.marker-rec::before {
  content: "rec";
  display: var(--display-rec);
  position: absolute;
  right: 50px;
  top: 20px;
}

/* Декоративный элемент "." */

.marker-rec::after {
  content: "";
  display: var(--display-rec);
  position: absolute;
  border-radius: 50%;
  background-color: var(--font-color);
  box-shadow: 0px 0px 4px 2px var(--font-color);
  top: 28px;
  right: 29px;
  inline-size: 9px;
  block-size: 9px;
}

.title {
  align-self: flex-start;
  margin-block: 110px;
  margin-top: 230px;
  margin-left: -20px;
}

.stylish__title {
  font-style: normal;
  font-weight: 700;
  color: var(--stylish-text__color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 4px 4px 0px var(--shadow, #ff0070);
  line-height: 82.5%;
}

.description {
  width: calc(100vw - 55%);
  height: min-content;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  color: var(--answer-title__color);
  justify-self: end;
  align-self: center;
  line-height: 23.4px;
}

.title__decor {
  background-color: var(--title-decor);
}

/* Стили для блока контент */

.main {
  padding-inline-start: 20px;
  padding-inline-end: 10px;
}

.content {
  margin-top: 138px;
  max-inline-size: 1024px;
}

.reason__section {
  display: grid;
  grid-template-columns: minmax(336px, 336px) minmax(310px, 692px);
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px; 
  line-height: 23.4px;
  max-width: 300px;
  margin-top: 20px;
}

.answer__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card__answer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 11px;
}

.answer__title {
  display: block;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  color: var(--answer-title__color);
  margin-top: 20px;
}

.answer__description {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: var(--answer-description__color);
  line-height: 23.4px;
}

.link {
  text-shadow: 2px 2px 0px var(--link-shadow);
  text-decoration: none;
}

.link:focus {
  outline: none;
}

.link:hover {
  border-bottom: 1px solid var(--action-border);
}

.link:focus-visible {
  outline: 1px solid var(--action-border);
  outline-offset: -2px;
}

 /* Стили для Second section */

.cause__section {
  display: flex;
  flex-direction: column;
  margin-block-start: 60px;
  gap: 3px;
}

.cause__answer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.advice__section {
  display: grid;
  grid-template-columns: minmax(336px, 315px) minmax(572px, 649px);
  margin-block-start: 60px;
  top: 20px;
}

.smooth_font {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #000028;
  line-height: 23.4px;
}

/* Стили для блока с картинками */

.gallery {
  display: flex;
  flex-direction: column;
  margin-block-start: 65px;
  gap: 20px;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(auto, 260px) minmax(auto, 315px) minmax(auto,435px);
  gap: 20px;
}

/* Блок с картинками */

.sunset__image {
  block-size: clamp(142px, 192px, 260px);
  grid-column: span 2;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.ice-cream__image {
  grid-row: span 2;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.tape__image {
  grid-row: span 2;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.books__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.street__image {
  grid-column: span 2;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}


/* Стили для Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 60px;
  min-block-size: 768px;
  inline-size: 100%;
}

.footer-zone {
  position: relative;
}

.footer-zone::before,
.footer-zone::after {
  position: absolute;
  content: '';
  inline-size: 25px;
  block-size: 25px;
}

.footer-zone::before {
  position: absolute;
  content: '';
  border-top: 1px solid var(--decorate-rectangle);
  border-right: 1px solid var(--decorate-rectangle);
  top: 22px;
  right: 18px;
}

.footer-zone::after {
  position: absolute;
  content: '';
  border-bottom: 1px solid var(--decorate-rectangle);
  border-left: 1px solid var(--decorate-rectangle);
  left: 20px;
  bottom: 20px;
}

/* Стили для разных размеров экрана */

/* Стили для экрана с разрешением 1000px */

@media (width <= 1000px) {
.answer__container{
  grid-template-columns: none;
  grid-template-rows: repeat(min-content, 1fr);
  gap: 20px;
}

.cause__card-answer-size {
  inline-size: 100%;
}
}

/* Стили для экрана с разрешением 768px */

@media (width <= 768px) {
  .header {
    padding-inline-start: 25px;
  }

  .header__theme-menu {
    margin-top: 55px;
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
   flex-direction: column;
  }

  .decorated-zone::after {
    top: 15px;
    right: 15px;
  }

  .reason__section {
   grid-template-columns: 300px 1fr 1fr;
  }

  .cause__answer-container {
   grid-template-columns: 300px 1fr; 
  }

  .card__answer {
    grid-column: span 2;
    inline-size: 100%;
  }

  .answer__description {
    display: block;
    inline-size: 100%; 
  }

  .section-title {
    grid-row: span 2;
  }

  .reason__section {
    grid-template-columns: none;
    grid-template-rows: 60px auto;
  }

  .advice__section {
    grid-template-columns: none;
    grid-template-rows: 60px auto;
  }

  .column__answer-container {
    grid-column: span 2;
  }

  .title {
    margin-top: 68px;  
  }

  .galerry {
    margin-block-start: 50px;
    gap: 20px;
}

  .gallery__list {
    block-size: 130%;
    grid-template-columns: none;
    grid-template-rows: minmax(auto, 142px) minmax(auto, 355px) minmax(auto, 237px) minmax(auto, 355px) minmax(auto, 237px);
    gap: 10px;
}

  .ice-cream__image {
    grid-row: 2;
    grid-column: span 2;
}

  .tape__image {
    grid-row: 3;
    grid-column: span 2;
}

  .books__image {
    grid-row: 4;
    grid-column: span 2;
}

  .street__image {
    grid-column: span 2;
} 

}


/* Стили для экрана с разрешением 745px */

@media (width <= 745px) {

  .content {
    margin-top: 28px;
    } 

  .reason__section {
    grid-template-columns: none;
    grid-template-rows: 47px auto;
  }

  .advice__section {
    grid-template-columns: none;
    grid-template-rows: 47px auto;
  }
}

/* Стили для экрана с разрешением 700px */

@media (width <= 700px) {

  .description {
    inline-size: 100%;
  }
  
}